@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";
@theme {
  --font-lexend: "Lexend", sans-serif;
  --color-red: #fb1812;
  --color-black: #131112;
  --color-white: #fcfdfd;
}
