@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";
@font-face {
  font-family: cooper;
  src: url(/fonts/Cooper-variable.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: besley;
  src: url(/fonts/Besley-italic-variable.woff2) format("woff2");
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: besley;
  src: url(/fonts/Besley-variable.woff2) format("woff2");
  font-display: swap;
  font-style: normal;
}
@theme {
  --font-jost: "Jost", sans-serif;
  --font-cooper: "cooper", serif;
  --font-besley: "besley", serif;
}
