---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="shade">
  <div
    class="font-lexend flex flex-col items-center rounded-lg bg-white/60 p-4"
  >
    <div class="flex flex-row items-center gap-2 text-black opacity-100">
      <img
        alt="shade pfp"
        src="/images/pfp.png"
        class="h-24 w-24 rounded-full"
      />
      <div class="flex flex-col gap-0 p-0">
        <h1 class="text-2xl font-semibold">ripshade</h1>
        <p class="text-xs">@coyotes67</p>
        <p class="text-sm">she/her</p>
      </div>
    </div>
    <div class="flex flex-row gap-1">
      <a
        href="https://instagram.com/murderevery1uknow"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon name="fa:instagram" class="text-black" />
      </a>
      <a
        href="https://discord.com/users/1408956378600702042"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon name="fa7-brands:discord" class="text-black" />
      </a>
      <a
        href="https://git.canine.tools/glaceon"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon name="devicon-plain:forgejo" />
      </a>
    </div>
  </div>
</Layout>
