---
import "../styles/global.css";
import Head from "../components/head.astro";
import Holding from "../components/holding.astro";
import Links from "../components/links.astro";
import Bg from "../components/bg.astro";
---

<Head />
<title>ripshade</title>
<body class="bg-ctp-base">
  <Bg>
    <Holding>
      <img
        src="/images/smoke.jpeg"
        alt="cat smoking"
        class="rounded-full w-32 mx-auto"
      />
      <h1 class="text-ctp-blue font-cooper font-bold text-4xl md:text-6xl">
        Shade
      </h1>
      <p class="text-ctp-text font-jost text-md md:text-lg">
        i keep calling...
      </p>
      <p class="text-ctp-red-500 underline font-jost text-md md:text-lg">
        <a href="/projects" class="hover:text-ctp-red-800">my projects</a>
      </p>
    </Holding>
    <Links />
  </Bg>
</body>
