---
import "../styles/global.css";
import Head from "../components/head.astro";
import Holding from "../components/holding.astro";
import Links from "../components/links.astro";
import Bg from "../components/bg.astro";
---

<Head />
<Bg>
  <Holding>
    <h1 class="text-ctp-peach text-6xl/20 italic font-besley font-bold">
      projects
    </h1>
    <p>i'm currently working on...</p>
    <ul>
      <li class="italic text-ctp-subtext0">
        nothing yet... coming soon&trade;
      </li>
    </ul>
    <p class="text-ctp-red-500 underline font-jost text-md md:text-lg">
      <a href="/" class="hover:text-ctp-red-800">home</a>
    </p>
  </Holding>
  <Links />
</Bg>
