---

---

<nav
  class="p-2 min-w-xs md:min-w-sm text-center bg-ctp-surface0/50 backdrop-blur-sm rounded-xl"
>
  <p class="font-jost text-ctp-subtext0">
    <a
      href="https://github.com/shaderip"
      class="hover:text-ctp-teal-800 text-ctp-teal underline">github</a
    >
    •
    <a
      href="https://steamcommunity.com/id/ripshade"
      class="hover:text-ctp-teal-800 text-ctp-teal underline">steam</a
    >
    •
    <a
      href="https://instagram.com/murderevery1uknow"
      class="hover:text-ctp-teal-800 text-ctp-teal underline">instagram</a
    >
  </p>
</nav>
